@charset 'UTF-8';

body {
  margin: 0;
}

.top {
  height: 100px;
  background-color: #f00;
}

.main {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: #0f0;
}

.footer {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  background-color: #00f;
}