@charset 'UTF-8';

body {
  margin: 0;
}

.main {
  width: 800px;
  margin: 0 auto;
}

.left {
  width: 220px;
  height: 500px;
  float: left;
  background-color: #f00; 
}

.right {
  width: 580px;
  height: 500px;
  float: right;
  background-color: #0f0; 
}