/**
 * @name linechart7
 * @desc linechart7
 * @auth Jiangang Lu
 * @desc 2015/10/06
 */

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.bar {
  fill: steelblue;
}
